.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  .heading-container {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 1px;
  }
  .search-bar {
    display: flex;
    align-items: center;
    padding: 1px;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .profile-logo {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
